<h2> Sipariş numarasına göre işlem sorgulama</h2>

<form action="" method="post">
    <!-- Text input-->
    <div class="form-group">
        <div class="row">

            <label class="col-md-12 control-label" for="">MPAY:</label>
            <div class="col-md-3">
                <input name="MPay" type="text" value="" class="form-control" required="">
            </div>
        </div>
        <div class="row">
            <label class="col-md-12 control-label" for=""></label>
            <div class="col-md-4">
                <br />
                <button type="submit" id="" name="" class="btn btn-danger">MPAY İle İşlem Sorgula</button>
            </div>
        </div>
       
    </div>
</form>
<pre>
 <%= if @xml_result
   @xml_result 
   else
  "nil"
  end
  %>
</pre>
